
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Norse';
    src: url('fonts/norse/Norse.woff2') format('woff2'),
        url('fonts/norse/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1440,20,1.333,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--3: clamp(0.5277rem, 0.5933rem + -0.0728vw, 0.5787rem);
  --step--2: clamp(0.6944rem, 0.6919rem + 0.0129vw, 0.7035rem);
  --step--1: clamp(0.8333rem, 0.8035rem + 0.1491vw, 0.9377rem);
  --step-0: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0668rem + 0.6661vw, 1.6663rem);
  --step-2: clamp(1.44rem, 1.2168rem + 1.1159vw, 2.2211rem);
  --step-3: clamp(1.728rem, 1.3758rem + 1.7611vw, 2.9607rem);
  --step-4: clamp(2.0736rem, 1.5384rem + 2.6758vw, 3.9467rem);
  --step-5: clamp(2.4883rem, 1.6962rem + 3.9608vw, 5.2609rem);

  --charcoal:#111827;
  --form-labels:#3b4252;
  --back: #d8dee9;
  --form-back:#eceff4;
  --input-back:#e5e9f0;
  --border:#4c566a;
  --outer-border:#434c5e;
  --form-focus:#81a1c1;
  --button-color:#2e3440;
}


*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Roboto',sans-serif;
    color: var(--charcoal);
    font-size: var(--step-1);
    background-color: var(--back);
    
}

h1{
    font-size: var(--step-1);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    gap: var(--step-4);
    width: 100%;
  
    
   
}

.image-section{
    position: relative;
    width: 600px ;  
    background: url(images/viking_ship.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center ;
}


.dark-overlay{
    position: absolute;
    width: 100%;
    height: 20%;
    transform: translateY(50%);
    z-index: 1;
    background-color: rgba(59, 66, 82, 0.5);
}

.logo-info{
    display: flex;
    align-items: center;
    
}
.odin-logo{
    position: absolute;
    left: 20%;
    top: 10%;
   

    z-index: 2;
}

.logo{
    width: 100px;

}

.special-logo-text{
    font-family: 'Norse';
    font-size: var(--step-5);
}





.form-section{
    margin-top: var(--step-5);
}




.form-title-wrapper{
    width: 70%;
    text-align: left;
    line-height: 1.5;
}

.form-title-wrapper > h1 + h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}



.form-container{
    border: 2px var(--outer-border) solid;
    border-radius: 8px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--form-back);
    padding-bottom: 2rem;

}



.form-group{
    display: flex;
    
    flex-direction: column;
    gap: 1.5rem;
}

.content{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

input{
    width: 100%;
    height: 40px;
    border: 2px var(--border) solid;
    border-radius: 8px;
    background-color: #ffffff;
}

input:focus{
    outline: none;
    border-color: var(--form-focus);
}

.special:valid,
input:user-valid{
    
    border-color: #a3be8c;
}

.special:invalid,
input:user-invalid{
  
    border-color: #bf616a;
}



.info-container{
    margin-top:2rem;
    margin-bottom: 1rem;
}

.custom-button{
    border: 2px var(--button-color) solid;
    background-color: var(--button-color);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    color: #ffffff;
    transition: all 0.3s ease;
    width: 45%;
    margin-bottom: 1rem;
}

.custom-button:hover{
    border-color:var(--button-color);
    background-color: transparent;
    color: var(--charcoal);
}



